**/node_modules/
**/.yarn/
**/.pnp/
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions
**/cookies.txt
**/ffprobe**
**/ytprobe**
**/ffmpeg**
**/yt-dlx**
**/tor**
**/YouTubeDLX
**/yt-dlx
**/.env
**/.env*
**/.env*.local
**/expo-env.d.ts
**/*.log
**/npm-debug.*
**/yarn-debug.*
**/yarn-error.*
**/pnpm-debug.log*
**/package/
**/dist/
**/temp/
**/out/
**/build/
**/web-build/
**/next-env.d.ts
**/.expo/
**/.next/
**/android/
**/ios/
**/.DS_Store
**/*.orig.*
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision
**/.metro-health-check*
**/*.pem
**/*.tsbuildinfo
**/coverage/
**/.vercel/